<div class="container-section">
    <h2 class="info-section">О нас</h2>
    <p>
        Добро пожаловать в книжный магазин "Читальный Мир" — ваш проводник в мир литературы!
        Мы предлагаем широкий выбор книг на любой вкус: от классики до современных бестселлеров.
        Наша команда поможет выбрать идеальное произведение, учитывая ваши предпочтения. Мы ценим каждого клиента, обеспечивая отличный сервис и приятную атмосферу.
        "Читальный Мир" — здесь книги вдохновляют и открывают новые горизонты!

    </p>
</div>

    
    <div class="container-section scroll" id="services">
        <h2 class="info-sections">Жанры наших книг</h2>
        <div class="card-container">
            <div class="arrow left">&#10094;</div>

            <div class="card-wrapper">
                <div class="card">
                    <img src="~/images/fff.webp" alt="Card 1">

                    <h3>Фантастика (Science Fiction) </h3>
                    <p>
                        Жанр, в котором описываются события, основанные на научных открытиях или гипотетических научных принципах. 
                        Часто это миры будущего, космические исследования, искусственный интеллект или альтернативные реальности. 
                        Пример: "2001 год: Космическая одиссея" Артура Кларка.
                    </p>
                </div>
                <div class="card">
                    <img src="~/images/card_2.png" alt="Card 2">

                    <h3>Фэнтези (Fantasy) </h3>
                    <p>
                        Жанр, в котором миры наполнены магией, мифическими существами и необычными силами.
                        В этих произведениях часто используются элементы средневекового фольклора, магические артефакты и герои, способные творить чудеса.
                        Пример: "Властелин колец" Дж. Р. Р. Толкиена.
                    </p>
                </div>
                <div class="card">
                    <img src="~/images/card_3.png" alt="Card 3">

                    <h3>Хоррор (Horror)</h3>
                    <p>
                        Жанр, вызывающий страх и ужас. Это могут быть истории о привидениях, монстрах, зомби или мистических существах.
                        Главная цель хоррора – пробудить у читателя чувство тревоги и страха через элементы ужаса и сверхъестественного.
                        Пример: "Сияние" Стивена Кинга.
                    </p>
                </div>
                <div class="card">
                    <img src="~/images/card_4.png" alt="Card 4">

                    <h3>Романтика (Romance)</h3>
                    <p>
                       Жанр, сосредоточенный на любовных отношениях между персонажами. 
                        Эти произведения часто описывают эмоциональные переживания героев, поиски любви и внутреннюю трансформацию.
                        Хотя многие романы заканчиваются счастливым концом, они могут включать трудности, с которыми сталкиваются влюбленные.
                        Пример: "Гордость и предубеждение" Джейн Остин.
                    </p>
                </div>
                <div class="card">
                    <img src="~/images/card_5.png" alt="Card 5">

                    <h3>Ужасы (Supernatural Horror)</h3>
                    <p>
                        Жанр, где ужасы тесно переплетаются с элементами сверхъестественного. 
                        Это могут быть рассказы о духах, монстрах, проклятиях или мистических явлениях, которые создают атмосферу страха и тревоги.
                        Пример: "Доктор Смерть" Стивена Кинга.
                    </p>
                </div>
                <div class="card">
                    <img src="~/images/card_6.png" alt="Card 6">

                    <h3>Триллер (Thriller) </h3>
                    <p>
                        Жанр, построенный на повышенном напряжении и чувстве страха. 
                        Триллеры часто включают элементы криминала, шпионских историй, погонь или жестоких преступлений. 
                        Важной частью является ощущение неизбежной угрозы для героя.
                        Пример: "Молчание ягнят" Томаса Харриса.
                    </p>
                </div>
            </div>
            <div class="arrow right">&#10095;</div>
            </div>
            <div class="container-section scroll" id="contact">

                <h2 class="info-sections">Контакты</h2>
                <div class="container-row">
                    <div class="row-item">
                        <img class="item-img" src="~/images/icon-email.png" alt="" />
                        <h2>Email</h2>
                        <p>TTIiP@mail.ru</p>
                    </div>
                    <div class="row-item">
                        <img class="item-img" src="~/images/icon-phone.png" alt="" />
                        <h2>Телефон</h2>
                        <p>(+373) 777-77-777</p>
                    </div>
                    <div class="row-item">
                        <img class="item-img" src="~/images/icon-address.png" alt="" />
                        <h2>Адрес</h2>
                        <p>Тираспольский техникум информатики и права</p>
                    </div>
                </div>
            </div>

            <div class="container-section">
                <h2 class="info-sections">Haпиcaть сообение</h2>
                <div class="block-message">
                    <p>
                        Вы можете написать нам на почту здесь
                    </p>
                    <div class="message-text">
                        <label>Cooбщение:</label>
                        <span></span>
                        <textarea class="text"></textarea>
                    </div>
                    <div class="message-button">
                        <button class="button" type="submit">Oтпpaвить</button>
                    </div>
                </div>
            </div>

        </div>
       
