<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookstore</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/Shared.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/media_style.css" asp-append-version="true"/>

</head>
<body>
    @await Html.PartialAsync("_LoginRegistrationPartial")
    <div id="header-top">
        <div class="logo">Bookstore</div>
        <div class="button-header">
            @if (User.Identity.IsAuthenticated)
            {
                <button class="button" name="button" onclick="window.location.href='@Url.Action("Logout","Home")'">Выйти</button>
            }
            @if (!User.Identity.IsAuthenticated)
            {
            <button class="button" id="click-to-hide">Войти</button>
            }
        </div>
        <div id="hamburger" class="icon">&#9776;</div>
    </div>
    <img class="img-header" src="~/images/Designer.jpg" />
    <div id="header-bottom">
        <div class="menu">
            <ul>
                <li><a href="#home">Главная</a></li>
                <li><a href="#contact">Контакты</a></li>
                <li><a href="#countries">Каталог</a></li>
                <li><a href="#services">Услуги</a></li>
            </ul>
        </div>
    </div>

    <div id="side-menu" class="side-menu">
        <ul>
            <li><a href="#home">Главная</a></li>
            <li><a href="#contact">Контакты</a></li>
            <li><a href="#countries">Каталог</a></li>
            <li><a href="#services">Услуги</a></li>
        </ul>
        @if (User.Identity.IsAuthenticated)
        {
            <button class="button" name="button" onclick="window.location.href='@Url.Action("Logout","Home")'">Выйти</button>
        }
        @if (!User.Identity.IsAuthenticated)
        {

        <button class="button" id="side-menu-button-click-to-hide" type="button" name="button">Войти</button>
        }
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="footer-left">
            <div class="logo">Bookstore</div>
            <p>
            </p>
            Мы — книжный магазин, где каждый найдет книгу по душе. 
            У нас представлены лучшие произведения для любителей литературы разных жанров — от классики до современных бестселлеров, от научной фантастики до вдохновляющих книг по саморазвитию.
            Мы тщательно отбираем каждое издание, чтобы предложить нашим читателям только качественные и увлекательные книги. Наши сотрудники всегда готовы помочь в выборе, чтобы ваше знакомство с книгой стало настоящим событием.
            Погружайтесь в мир книг с нами!
            <div class="footer-Bookstore">
                &copy; 2024 - Bookstore
            </div>
        </div>
        <div class="footer-right">
            <div class="menu">
                <ul>

                    <li><a href="#home">Главная</a></li>
                    <li><a href="#contact">Контакты</a></li>
                    <li><a href="#countries">Каталог</a></li>
                    <li><a href="#services">Услуги</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="~/js/home_script.js"></script>
    <script src="~/css/shared_script.js"></script>
    <script src="~/js/login_and_registration_script.js"></script>

</body>
</html>
