<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelAgency</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shared_script.js" />
    <link rel="stylesheet" href="~/css/Shared.css" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<body>

    <div id="header-top">
        <div class="logo">Мир путешествий</div>
        <div class="button-header">
            <button class="button">Войти</button>
        </div>
    </div>
    <img class="img-header" src="~/images/Designer.jpg" />
    <div id="header-bottom">
        <div class="menu">
            <ul>
                <li><a href="#home">Главная</a></li>
                <li><a href="#contact">Контакты</a></li>
                <li><a href="#countries">Страны</a></li>
                <li><a href="#services">Услуги</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - TravelAgency - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)*@
    <script src="~/js/home_script.js"></script>
    <script src="~/css/shared_script.js"></script>
</body>
</html>
